<div class="container">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/admin" class="nav-link px-2 link-secondary">admin</a></li>
            <li><a href="/admin" class="nav-link px-2">Features</a></li>
            <li><a href="/admin" class="nav-link px-2">Pricing</a></li>
            <li><a href="/admin" class="nav-link px-2">FAQs</a></li>
            <li><a href="/admin" class="nav-link px-2">About</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <button type="submit" class="btn btn-primary" (click)="logout()">LogOut</button>
        </div>
    </header>
</div>
<div class="container">
    <h1>
        Products
    </h1>

    <div class="col-md-3 my-3">
        <input type="text" id="pName" class="form-control my-2" placeholder="Product Name">
        <input type="text" id="pPrice" class="form-control my-2" placeholder="Product Price">
        <button type="button" class="btn btn-primary mt-3" (click)="addProduct()">Add Product
        </button>
    </div>
    <div class="row" *ngFor="let product of productsList">
        <div class="col-md-3 my-3">
            {{product.name}} - Price :{{product.price | currency:'USD'}}
        </div>
        <!--button to buy-->
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-3 my-3">
                <h1>Orders</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 my-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>User</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Request of requestList">
                            <td>{{Request.product_name}}</td>
                            <td>{{Request.product_price | currency:'USD'}}</td>
                            <td>{{Request.username}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>